body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
color: #FFFFFF;
font-size: 56px;
font-weight: 700;
letter-spacing: 2%;
line-height: 60px;
}

.logo-first {

}
.logo-seconde {
  
}


